# Backend
backend/.env
backend/vendor/
backend/storage/logs/*.log
backend/bootstrap/cache/*.php
backend/database/database.sqlite

# Frontend
frontend/.env
frontend/node_modules/
frontend/.nuxt/
frontend/.output/
frontend/dist/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
